<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />  
  </connectionStrings>
	<appSettings>
		<add key="ip" value="localhost"/>
		<add key="port" value="3306"/>
		<add key="username" value="root"/>
		<add key="password" value=""/>
	</appSettings>
</configuration>
